@model IEnumerable<CartItemViewModel>

@foreach (var item in Model)
{
    <form method="post" asp-action="Update" asp-controller="ShoppingCart" asp-route-id="@item.ProductId">
        <div class="row">
            <a asp-page="/Products/Details" asp-route-id="@item.ProductId">
                <div class="col-xs-2">
                    <img class="img-responsive" alt="@item.Name" src="@item.ImageUrl" style="object-fit: cover">
                </div>
            </a>
            <div class="col-xs-3">
                <h4 class="product-name"><strong>@item.Name</strong></h4>
                <h4><small>@item.Description</small></h4>
            </div>
            <div class="col-xs-7">
                <div class="col-xs-4 text-right">
                    <h6><strong>$@item.Price <span class="text-muted"></span></strong></h6>
                </div>
                <div class="col-xs-2">
                    <input type="text" name="quantity" class="form-control input-sm" value="@item.Quantity">
                </div>
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-default btn-sm btn-block">
                        Update quantity
                    </button>
                </div>
                <div class="col-xs-1">
                    <a asp-action="RemoveFromCart" asp-controller="ShoppingCart"
                       asp-route-id="@item.ProductId" class="btn btn-link btn-xs">
                        <span class="glyphicon glyphicon-trash"> </span>
                    </a>
                </div>
            </div>
        </div>
    </form>
    <br />
}